#  Site setting
baseurl = "https://www.praxisflow.com"
languageCode = "en-us"
title = "praxisflow"
theme = "hugo-agency-theme"

# Enter your tracking code to enable Google Analytics
googleAnalytics = "UA-109910809-1"

[params]
  # You can use Markdown syntax for urls [text](//url.to/source) or
  # most longer texts.
  #
  # All icons using Fontawesome's icon font. Look at fortawesome.github.io/Font-Awesome/icons/
  # for more icons. The icons are represented by their corresponding
  # CSS class.

  # To provide some metadata for search engines feel free to add a few
  # information about you and your website.
  name = "praxisflow"
  description = "PraxisFlow is an Enterprise Service Design & Orchestration firm focused on integrating the practices of the theory of constraints, lean methodology, and service design."

  # Link custom assets relative to /static
  custom_css = []
  custom_js  = []
  favicon    = "favicon_praxis.ico"

  # Possibility to disable external/additional fonts
  # Exception: Fontawesome
  disableFonts = false

  # 404 error customization
  [params.error404]
    heading = "Page couldn't be found"
    text = "Please visit [this page](/)"

  # Optional piwik tracking
  #[params.analytics.piwik]
  #  URL = "https://stats.example.com"
  #  ID = "42"
  #  # Track all subdomains with "*.example.com"
  #  domain = "www.example.com"
  #  # Optional integrity check hash
  #  hash = "sha512-RfeD0pacGTqy9m7U6PgehQfS4cc7SIt+e+P+H5e848kEvB/RW84CUGO3O4O3LNbxjevym6KPUZ8muPsMrI8WIw=="

  # Navigation
  [params.navigation]
    brand = "The Agency"
    # Optional logo as brand stored in img/
    logo = "logo.png"
    services = "Services"
    #portfolio = "Portfolio"
    about = "About"
    team = "Team"
    contact = "Contact"

    # Add custom links. Those can be pre- and postpended to the default menu above.
    # Use the weight attribute to order your custom links. Uncomment the example
    # below and replace the values with your own.

    # prepended links
    #[[menu.prepend]]
    #  url = "http://gohugo.io"
    #  name = "Hugo"
    #  weight = 10

    # postpended links
    #[[menu.postpend]]
    #  url = "http://gohugo.io"
    #  name = "External link"
    #  weight = 10


  # Hero section
  [params.hero]
    # To change the background image of the hero, replace 'header-bg.jpg' in
    # the 'static/img' folder.
    title = "Enabling Flow"
    subtitle = "Enterprise Service Design & Orchestration"
    buttonText = "Learn More"


  # Services section
  [params.services]
    enable = true
    title = "Services"
    subtitle = "Our Collaborative Approach to Enterprise Agility"

    [[params.services.row]]

    [[params.services.row.list]]
      icon = "fa-cubes"
      title = "Enterprise Service Design and Orchestration"
      description = "Enterprise Service Design and Orchestration engages the complex problems inherent in large IT organizations composed of adaptive teams. Rather than homogenize the practices of teams, we design negotiable, evolving boundary practices in the spaces between teams, enabling deep heterogeneous practices to exist in context."
      url = "#"

    [[params.services.row.list]]
      #icon = "fa-users"
      icon = "fa-link"
      title = "OpsFlow"
      description = "OpsFlow techniques create flow across the desired value chain and align organizations to the nature of their work. PraxisFlow focuses on how work flows through and among teams, silos, and divisions. We firmly believe that an innovative environment is possible only when flows accommodate and support multiple management styles simultaneously."
      url = "#"

    [[params.services.row.list]]
      icon = "fa-refresh fa-spin"
      title = "Sustained Organizational Transition Design and Enablement"
      description = "How can an organization implement that design and strategy, seamlessly moving from the current state to the desired state with minimal disruption to workflows and the customer experience? PraxisFlow co-designs implementation with clients, helping them understand how to the do the work better and then sustain those improvements over time."
      url = "#"

  # Portfolio section
  [params.portfolio]
    enable = false
    # All projects defined in their own files. You can find example projects
    # at 'exampleSite/data/projects'. Copy the 'projects' folder into the 'data' directory
    # at the root of this Hugo site.
    # For more informtion take a look at the README.
    title = "Portfolio"
    subtitle = "Lorem ipsum dolor sit amet consectetur."

    [params.portfolio.modal]
      client = "Client"
      date = "Date"
      category = "Category"
      buttonText = "Close project"


    # About section
  [params.about]
    enable = true
    title = "About"
    subtitle = "Researching and creating within the intersection of management, design and operations theory."
    endpoint = "Be part<br>of our<br>story!"

    # The events will be listed from the top to the bottom.
    # All images are stored under 'static/img/about'.
    # Replace them with your own.
    [[params.about.events]]
      img = "1.jpg"
      date = "2014"
      title = "Our Humble Beginnings"
      description = "In 2014, Kevin Behr and Jabe Bloom established PraxisFlow to focus our consulting work and scientific and design-led research into enterprise service design and orchestration."

  # Team section
  [params.team]
    enable = true
    # Possibility to center items
    center = true
    title = "Our Team"
    subtitle = "Passionate Researchers and Practitioners"
    description = "PraxisFlow works with leading practitioners who are driving the evolution of management theory and practice. Are you exploring the edge of theory? We'd love to hear from you."

    # All team member's pictures are stored under 'static/img/team'.
    # Replace them with your own too.
    # Suggestion: Image size should be at least 360px*360px or the alignment might be affected.
    [[params.team.members]]
      img = "kevin-headshot.png"
      name = "Kevin Behr"
      position = "General Manager and Chief Science Officer"
      #reportsTo = "CTO"
      #livesIn = "[Munich, Germany](#some-maps-url)"
      scope = [
        "Co-Author Phoenix Project, Visible Ops and more..."
      ]
      # For bio markdown and even multiline strings are available.
      bio = """Dynamic and visionary IT Strategist, Chief Scientific Officer and author, with over 25 years experience directing companies to success through a combination of scientific research, Thought leadership and technology architecture, business development and management expertise.
"""
      social = [
        ["fa-twitter", "https://twitter.com/kevinbehr"],
        ["fa-linkedin", "https://www.linkedin.com/in/kevinbehr/"]
      ]

    [[params.team.members]]
      img = "Jabe-headshot.png"
      name = "Jabe Bloom"
      position = "CoFounder & Chief SocioTechnical Officer"
      livesIn = "[Pittsburgh, PA](#some-maps-url)"
      bio = """An experienced executive leader of software and product development companies. For 20 years he has focused on connecting design with software engineering and operational excellence.

Currently he is pursuing a PhD in Design Studies at Carnegie Mellon University (PA).  His research focuses on understanding how temporality can better inform Transition Design."""
      social = [
        ["fa-twitter", "https://twitter.com/cyetain"],
        ["fa-linkedin", "https://www.linkedin.com/in/jabebloom/"]
      ]

    #[[params.team.members]]
    #  img = "teamcat.jpg"
    #  name = "Cat Swetel"
    #  position = "Director & Principal Consultant"
    #  social = [
    #    ["fa-twitter", "https://twitter.com/catswetel"],
    #    ["fa-linkedin", "https://www.linkedin.com/in/catswetel/"]
    #  ]
    #  bio = """Cat thinks describing oneself in third person is weird.
#"""
  [[params.team.members]]
    img = "bobby-headshot.jpg"
    name = "Bobby Norton"
    position = "Visiting Scientist"
    #reportsTo = "CTO"
    livesIn = "[Chicago, IL](https://goo.gl/maps/W1HYN8g1C132)"
    #Scope is for your bragging purposes... link to other projects/sites
    scope = ["Former Lockheed Martin, ThoughtWorks, DRW Trading, Uptake, and
  more..."]
    # For bio markdown and even multiline strings are available.
    bio = """20 years of experience in IT spanning programming, data science,
  and executive roles. Formerly the tech lead of Cruise, Bobby enjoys helping
  organizations adapt to the challenges of DevOps by applying complex systems
  theory, network science, lean thinking, and code.
  """
    social = [
      ["fa-home", "http://www.bobbynorton.com"],
      ["fa-github", "https://github.com/bobbyno"],
      ["fa-twitter", "https://twitter.com/bobbynorton"],
      ["fa-linkedin", "https://www.linkedin.com/in/bobbynorton/"]
    ]

    [[params.team.members]]
      img = "Team-Rashida1.jpg"
      name = "Rashida Prattis"
      position = "Design Director & Consultant"
      social = [
        ["fa-twitter", "https://twitter.com/rashidadesigner"],
        ["fa-linkedin", "https://www.linkedin.com/in/rashidaprattis/"]
      ]
      bio = """Rashida is passionate about designing human-centered products & services.
"""


    [[params.team.members]]
      img = "Team-Mike.jpg"
      name = "Mike Caponero"
      position = "Director of Training and Instructional Design"
      social = [
        #["fa-twitter", "#"],
        ["fa-linkedin", "https://www.linkedin.com/in/mikecaponero/"]
      ]
      bio = """Complex adaptive system based educator specializing in inquiry and experimentation based pedagogy
"""
# Image size should be at least 360px*360px or the alignment might be affected.

      #[[params.team.members]]
      #img = "michele.PNG"
      #name = "Michele Guthrie"
      #position = "Visiting Scientist and DevOps Grandma"
      #livesIn = "[Fountain Hills, Arizona]( https://www.google.com/maps/place/Fountain+Hills,+AZ+85268/@33.6041911,-111.778541,13z/data=!3m1!4b1!4m5!3m4!1s0x872b989061a57cd1:0xbeacef3478713137!8m2!3d33.6042079!4d-111.7256936)"
      #scope = [
      #  "International Speaker on Software Development, DevOps, and Release Management"
      #  ]
      #bio = "Progressive technologist for 36 years with a focus on helping organizations make the transition from traditional development/system practices to modern tooling, processes and mindset."

      #social = [
      # ["fa-linkedin", "https://www.linkedin.com/in/michele-guthrie-62a3536/"]
      #]

     [[params.team.members]]

       img = "Carlos-Casanova.jpg"
       name = "Carlos Casanova"
       position = "Visiting Scientist"

       #reportsTo = "???"
       livesIn = "Rhode Island, USA"

       #Scope is for your bragging purposes... link to other projects/sites

       scope = [
         "Co-Author: [The CMDB Imperative] (https://www.amazon.com/CMDB-Imperative-Realize-Dream-Nightmares/dp/0137008376)",
         "International Speaker"
       ]

       # For bio markdown and even multiline strings are available.

       bio = """A rational thinker with roots in systems engineering and object modeling. Over 25 years of experience delivering simplified solutions that meet current needs while enabling future growth.
 """

       social = [
         ["fa-twitter", "https://twitter.com/CarlosCasanova"],
         ["fa-linkedin", "https://www.linkedin.com/in/carlosacasanova/"]
       ]


    [[params.team.members]]
      img = "ben-headshot.jpg"
      name = "Ben Mosior"
      position = "Visiting Scientist"
      #reportsTo = ""
      livesIn = "Pittsburgh, PA"
      #Scope is for your bragging purposes... link to other projects/sites
      scope = [
        "Co-Organizer [Map Camp](http://www.map-camp.com/)",
        "Program Manager [Forte Labs](https://www.fortelabs.co/)"
      ]
      # For bio markdown and even multiline strings are available.
      bio = """Explorer of problem spaces. Empathy, discernment, design, strategy.
"""
      social = [
        ["fa-twitter", "https://twitter.com/BenMosior"],
        ["fa-linkedin", "https://www.linkedin.com/in/benjaminmosior/"]
      ]

   [[params.team.members]]
      img = "Paul_Nov_2017_sm.jpg"
      name = "Paul Hammant"
      position = "Visiting Scientist"
      social = [
        ["fa-home", "https://hammant.org"],
        ["fa-github-alt", "https://github.com/paul-hammant"],
        ["fa-twitter", "https://twitter.com/paul_hammant"],
        ["fa-linkedin", "https://www.linkedin.com/in/paulhammant/"]
      ]
      bio = """Paul likes source-control <b>a lot</b>.
"""

# Image size should be at least 360px*360px or the alignment might be affected.
    [[params.team.members]]
      img = "VegaFrank.jpg"
      name = "Frank Vega"
      position = "Visiting Scientist"
      social = [
        ["fa-twitter", "https://twitter.com/fxvega"],
        ["fa-linkedin", "https://www.linkedin.com/in/frankvega/"]
      ]
      bio = """30+ years in IT/IS, as a director, architect, team lead, developer, database modeler, and numerical/data analyst. Kanban Coaching Professional active in national and Denver lean-agile and kanban communities.
"""

# Image size should be at least 360px*360px or the alignment might be affected.
#   [[params.team.members]]
#     img = "yuliya_yatsyshina.png"
#     name = "Yuliya Yatsyshina"
#     position = "Consultant"
     #reportsTo = ""
     #livesIn = "[Fairfax, VA](# https://www.google.com/maps/place/Fairfax,+VA/@38.8522392,-77.3368574,13z/data=!3m1!4b1!4m5!3m4!1s0x89b64e96394b91cd:0x72326e785448640!8m2!3d38.8462236!4d-77.3063733)"
     # For bio markdown and even multiline strings are available.
#     social = [
       #["fa-twitter", ""],
#       ["fa-linkedin", " https://www.linkedin.com/in/yuliya-yatsyshina/"]
#     ]
#     bio = """An international consultant in finance, education, technology, and entrepreneurship with more than 10 years of experience in generating and integrating business solutions for diverse clients. Also a veteran of the London stage.
#"""

[[params.team.members]]
  img = "julias-headshot.jpg"
  name = "Julias Shaw"
  position = "Visiting Scientist"
  livesIn = "[Las Vegas, NV](#https://goo.gl/maps/JQhCr3HSqvL2)"
  #Scope is for your bragging purposes... link to other projects/sites
  #scope = [
  #]
  # For bio markdown and even multiline strings are available.
  bio = """Julias has been applying lean and agile techniques to technology and marketing organizations since 1999. He is currently researching engineering practices for virtual reality and augmented reality development.
  """
  social = [
    ["fa-github", "https://github.com/julias-shaw"],
    ["fa-twitter", "https://twitter.com/mentalartist"],
    ["fa-linkedin", "https://www.linkedin.com/in/juliasshaw/"]
  ]

  [[params.team.members]]
  img = "rob-park-headshot.jpg"
  name = "Rob Park"
  position = "Visiting Scientist"
  #reportsTo = "..."
  livesIn = "Waltham, MA"
  #Scope is for your bragging purposes... link to other projects/sites
  #scope = \[
  #  "..."
  #]
  # For bio markdown and even multiline strings are available.
  bio = """A developer and team lead since 1990, Rob started practicing Agile methods in 1998 (3 years before they became known as Agile methods!) and found his passion for Extreme Programming in 2000. Practicing TDD since 2002 and specializing in ATDD and specification by example since 2004. Rob is also a lover of clean code and small batch coffee.
"""
  social = [
["fa-twitter", "https://twitter.com/robpark"],
["fa-linkedin", "https://www.linkedin.com/in/rob-park-2806b11/"]
  ]

  # Client section
    [params.clients_list]
      enable = false
      # Possibility to center items
      #center = true
      # Optional client title specifying the involvement
      #title = "Used and trusted by"

      # All the clients' logos are stored under 'static/img/logos'.
      # Replace them with your clients's logos.
      # Suggestion: .svg in the size of 280px*80px looks good
      [[params.clients]]
        logo = "envato.jpg"
        link = "#"

      [[params.clients]]
        logo = "designmodo.jpg"
        link = "#"

      [[params.clients]]
        logo = "themeforest.jpg"
        link = "#"

      [[params.clients]]
        logo = "creative-market.jpg"
        link = "#"

  # Contact section
  [params.contact]
    enable = true
    title = "Contact us"
    subtitle  = "Let us know how we can help."
    buttonText = "Send message"

    # Since this template is static, the contact form uses www.formspree.io as a
    # proxy. The form makes a POST request to their servers to send the actual
    # email. Visitors can send up to a 1000 emails each month for free.
    #
    # What you need to do for the setup?
    #
    # - set your email address under 'email' below
    # - upload the generated site to your server
    # - send a dummy email yourself to confirm your account
    # - click the confirm link in the email from www.formspree.io
    # - you're done. Happy mailing!

    # It is possible to substitute formspring with other providers
    # as an example the mailout plugin from caddy.
    # Provide the post URL for the form and depending on the provider
    # add some custom JS script to finish the implementation.
    # postURL = "https://example.com/mailout/"

    email = "sayhello@praxisflow.com"

    # Success and error message overwrite for async contact form
    #thanks = "Thank you for contacting us."
    #error = "Message could not be send. Please contact us at mail@example.com instead."

    # 'warning' defines error messages for invalid inputs
    [params.contact.form.name]
      text = "Your Name *"
      warning = "Please enter your name."

    [params.contact.form.email]
      text = "Your Email *"
      warning = "Please enter your email address."

    [params.contact.form.phone]
      text = "Your Phone *"
      warning = "Please enter your phone number."

    [params.contact.form.message]
      text = "Your Message *"
      warning = "Please enter a message."

      # Add optional form fields to identify contact forms
      #[[params.contact.form.hidden]]
      #  name = "someID"
      #  value = "example.com"
      #
      #[[params.contact.form.hidden]]
      # Special values for name such as "page" and "site" will be autofilled
      #  name = "page"

  # Footer section
  [params.footer]
    enable = true
    copyright = "All Rights Reserved. Copyright PraxisFlow LLC 2014-2018"

    [[params.footer.social]]
      icon = "fa-twitter"
      link = "https://twitter.com/praxisflow"

    [[params.footer.social]]
      icon = "fa-facebook"
      link = "https://www.facebook.com/praxisflow/"

    [[params.footer.social]]
      icon = "fa-linkedin"
      link = "https://www.linkedin.com/company/5314291/"

    [[params.footer.quicklinks]]
      text = "Privacy Policy"
      link = "#"

    [[params.footer.quicklinks]]
      text = "Terms of Use"
      link = "#"
