<form name="contact" method="POST" data-netlify="true" id="contactForm">
<fieldset>
  <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Your Name!: <input type="text" name="name" class="form-control" id="name" required="required" name="name" placeholder="{{ with .text }}{{ .  | markdownify }}{{ end }}" data-validation-error-msg="{{ with .warning }}{{ . | markdownify }}{{ end }}"/></label>
          <p class="help-block text-danger"></p>
        </div>
        <div class="form-group">
          <label>Your Email: <input type="email" name="email" /></label>
          <p class="help-block text-danger"></p>
        </div>
        <div class="form-group">
          <label>Your Role: <select name="role[]" multiple>
            <option value="leader">Leader</option>
            <option value="follower">Follower</option>
          </select></label>
        </div>
        <p class="hidden">
          <label>No Data: <input name="bot-field" /></label>
        </p>
        <div class="form-group">
          <label>Message: <textarea name="message"></textarea></label>
        </div>
        <button type="submit" value="Submit" class="btn btn-xl">{{ with .Site.Params.contact.buttonText }}{{ . }}{{ end }}</button>
      </div>
    </div>
</form>
